.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10vw;

  .mainNav {
    display: flex;
    font-size: 1.23rem;
    text-transform: uppercase;
    list-style: none;

    li:not(:first-child) {
      margin-left: 36px;

      a {
        color: #432;

        &:hover {
          color: #0bd;
        }
      }
    }
  }
}

.headerTitle {
  font-size: 2rem;
  font-weight: 500;
  font-family: Philosopher, serif;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;

    h1 {
      margin-bottom: 20px;
      font-size: 1.8rem;
    }

    .mainNav {
      font-size: 1.05rem;
    }
  }
}
