.bigBg {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../public/top.jpg);
	min-height: 100vh;
}

.hero {
	margin-top: 10%;
	text-align: center;
	p {
		Margin: 10px 0 42px;
		font-size: 1.125rem;
	}
	.pageTitle {
		font-size: 5rem;
		font-family: 'Philosopher', serif;
		text-transform: uppercase;
		font-weight: normal;
	}
	.button {
		font-size: 1.375rem;
		background-color: #f7b733;
		color: #fff;
		border-radius: 5px;
		padding: 18px 32px;
		&:hover {
			background-color: rgba(#f7b733, 0.8);
		}
	}
}

.newsSection {
	.titleWrapper {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(../public/news.jpg), linear-gradient(to right, rgba(#f7b733, 0.4), rgba(#fc4a1a, 0.4));
		background-blend-mode: luminosity;
		min-height: 30vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.title {
		font-size: 5rem;
		font-family: 'Philosopher', serif;
		text-transform: uppercase;
		font-weight: normal;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}
}