.bigBg {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../public/top.jpg);
	min-height: 100vh;
}

.hero {
	margin-top: 10%;
	text-align: center;
	p {
		Margin: 10px 0 42px;
		font-size: 1.125rem;
	}
	.pageTitle {
		font-size: 5rem;
		font-family: 'Philosopher', serif;
		text-transform: uppercase;
		font-weight: normal;
	}
	.button {
		font-size: 1.375rem;
		background-color: #f7b733;
		color: #fff;
		border-radius: 5px;
		padding: 18px 32px;
		&:hover {
			background-color: rgba(#f7b733, 0.8);
		}
	}
}

.newsSection {
	.titleWrapper {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(../public/news.jpg), linear-gradient(to right, rgba(#000, 1), rgba(#000, 1));
		background-blend-mode: luminosity;
		min-height: 30vh;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: .3s;
		&:hover {
			background-image: url(../public/news.jpg);
		}
	}
	.title {
		font-size: 5rem;
		font-family: 'Philosopher', serif;
		text-transform: uppercase;
		font-weight: normal;
	}
	.wrapper {
		max-width: 1200px;
		margin: 100px auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	article {
		width: 69%;
		font-family: "Yu Mincho";
		.postInfo {
			margin-bottom: 30px;
			.postTitle {
				margin-bottom: 15px;
				font-size: 2rem;
				font-weight: normal;
			}
			time {
				font-size: 1.3rem;
			}
		}
		.body {
			p {
				width: 80%;
				font-size: 1.3rem;
				line-height: 1.5;
			}
		}
	}

	aside {
		width: 27%;
		font-family: "Yu Mincho";
		.title {
			width: 80%;
			margin-bottom: 30px;
			font-size: 1.375rem;
			padding: 0 8px 8px;
			border-bottom: 3px #0bd solid;
		}

		.subMenu {
			li {
				margin: 15px 0;
				padding-bottom: 15px;
				border-bottom: 1px #444 dotted;
				a {
					line-height: 1.3;
					&:hover {
						color: #0bd;
					}
				}
			}
		}
	}
}