.bigBg {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../public/top.jpg);
	min-height: 100vh;
}

.hero {
	margin-top: 10%;
	text-align: center;
	p {
		margin: 10px 0 42px;
		font-size: 1.125rem;
	}
	.pageTitle {
		font-size: 5rem;
		font-family: 'Philosopher', serif;
		text-transform: uppercase;
		font-weight: normal;
	}
	.button {
		font-size: 1.375rem;
		background-color: #f7b733;
		color: #fff;
		border-radius: 5px;
		padding: 18px 32px;
		&:hover {
			background-color: rgba(#f7b733, 0.8);
		}
	}
}

@media screen and (max-width: 768px) {
	.hero {
		margin-top: 20%;
		p {
			font-size: 1rem;
		}
		.pageTitle {
			font-size: 3rem;
		}
		.button {
			font-size: 1rem;
			padding-top: 10px 15px;
		}
	}
}

.wrapper {
	max-width: 1200px;
	margin: 80px auto 150px;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.wrapper {
		flex-direction: column;
		margin: 30px auto 80px;
	}	
}

.titleWrapper {
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	filter: blur(1px);
	min-height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s;
	&:hover {
		filter: blur(0);
	}
	.title {
		font-size: 5rem;
		font-family: 'Philosopher', serif;
		text-transform: uppercase;
		font-weight: normal;
	}
}

@media screen and (max-width: 768px) {
	.titleWrapper {
		.title {
			font-size: 3rem;
		}
	}	
}

.messageSection {
	padding: 100px 0 120px;
	.title {
		font-size: 5rem;
		font-family: 'Philosopher', serif;
		text-transform: uppercase;
		font-weight: normal;
		text-align: center;
	}
	.wrapper {
		.pWrapper {
			background-color: #fff;
			transform: translate(30%, 10%);
			width: 45%;
			z-index: 1;
			padding: 30px 70px;
			p {
				font-size: 1.2rem;
				line-height: 1.5;
			}
		}
		.imgWrapper {
			position: relative;
			width: 60%;
		}
	}
}

@media screen and (max-width: 768px) {
		.messageSection {
			.title {
				font-size: 3rem;
			}
		}	
}

.newsSection {
	.titleWrapper {
		background-image: url(../public/news.jpg), linear-gradient(to right, rgba(#000, 1), rgba(#000, 1));
		&:hover {
			background-image: url(../public/news.jpg);
			filter: blur(0px);
		}
	}
	article {
		width: 69%;
		font-family: "Yu Mincho";
		.postInfo {
			margin-bottom: 30px;
			.postTitle {
				margin-bottom: 15px;
				font-size: 2rem;
				font-weight: normal;
			}
			time {
				font-size: 1.3rem;
			}
		}
		.body {
			p {
				width: 80%;
				font-size: 1.3rem;
				line-height: 1.5;
			}
		}
	}

	aside {
		width: 27%;
		font-family: "Yu Mincho";
		.title {
			width: 80%;
			margin-bottom: 30px;
			font-size: 1.375rem;
			padding: 0 8px 8px;
			border-bottom: 3px #0bd solid;
		}

		.subMenu {
			li {
				margin: 15px 0;
				padding-bottom: 15px;
				border-bottom: 1px #444 dotted;
				a {
					line-height: 1.3;
					&:hover {
						color: #0bd;
					}
				}
			}
		}
	}
}

.grid {
	border: 1px solid red;
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	gap: 26px;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.blogSection {
	.titleWrapper {
		background-image: url(../public/blog.jpg), linear-gradient(to right, rgba(#000, 1), rgba(#000, 1));
	}
}